@{
    ViewData["Title"] = "Emerging Technology";
}
   
 <article>
     <section id="bg-emtech">
         <h1 id="ind">Emerging Technology</h1>
         <p id="intro">
             Emerging Technologies are technologies whose development, practical applications <br />
             or both are still unrealized. These technologies are generally new but also include<br />
             older technologies finding new applications. Emerging tehnologies includes variety of <br />
            such as <mark>
                Artificial intelengence (AI), Internet of Things (IOT), Cognitive computing, CLoud computing,<br />
                Robotics, and Blockchain.
            </mark><br />
            -Wikipedia-<br /><br />

            <a class="btn btn-info" href="https://en.wikipedia.org/wiki/Emerging_technologies">
                Read More
            </a>
        </p>
     </section>
    <section>
        <div class="accordion" id="myAcc">
            <!--Card 1-->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Arficial Intelligence</button>
                    </h2>
                </div>

                <!--Displaying body of card 1-->
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAcc">
                    <div class="card-body">
                       <div class="row">
                           <div class="col-lg-3 col-md-6 col-sm-12" style="padding-bottom: 15px;">
                               <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/AI/IBM-ai.jpg" /> <br /> <br>
                                    <p>
                                        <u><strong>IBM AI </strong></u><br />
                                        By using the power of AI, IBM is able to smooth their serivices with 
                                        the automation of workflows to improve business and society. It allows
                                        budget cutting and productivity growth. Also, maximasize the data usege
                                        for the faster outcome. <a href="https://www.ibm.com/watson">Learn More</a>
                                    </p>
                                    
                               </div>
                           </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-bottom: 15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/AI/microsoft-ai.jpg" /><br /><br />
                                    <p>
                                        <u><strong>Microsoft AI</strong></u><br />
                                        Combining some of the microsoft tools with AI that  able to create
                                        an instant solutions. this ability is beneficial in every aspect
                                        of microsoft involved, espescially in designig field which is more better
                                        term of performance and trust. <a href="https://www.microsoft.com/en-us/ai#tabfeature1">Learn More</a>
                                    </p>
                                </div>
                               
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-bottom: 15px;">
                                <div >
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/AI/csiroai.jpg" /><br /><br />
                                    <p>
                                        <u><strong>CSIRO AI</strong></u><br />
                                       By taking the opportunuty in AI, CSIRO has been able to use this new trend
                                       for the beneficial of its reseacrh methodology where its able to help generating
                                       report to share within community government and industry. <a href="https://www.microsoft.com/en-us/ai#tabfeature1">Learn More</a>
                                    </p>
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-bottom: 15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/AI/amazon-ai.jpg"/><br /><br />
                                    <p>
                                        <u><strong>Amazon AI</strong></u><br />
                                        With a pre-trained AI services, Amazon is willing to integrate common use cases
                                        such as personalized recommendations, modernizing your contact center, improving 
                                        safety and security, and increasing customer engagement.
                                        <a href="https://aws.amazon.com/machine-learning/ai-services/">Learn More</a>
                                    </p>
                                </div>
                            </div>
                       </div>
                        
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-dark"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Internet of Things</button>
                    </h2>
                </div>
                <!--Displaying body of card 2-->
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAcc">
                    <div class="card-body">
                       <div class="row">
                           <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                               <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/IOT/IBM-IOT.jpg"><br /><br />
                                    <p>
                                        <u><strong>IBM IOT (internet of things)</strong></u><br>
                                        With the development of Industry 4.0, majority of the manufactures are able to
                                        redusce the cost the involvement of Internet of Things. This  method is introduced
                                        the no downtime method which keep the manufactures to run 24/7.
                                        <a href="https://www.ibm.com/blog/industry-4-0-and-the-pursuit-of-resiliency/">Learn More</a>
                                    </p>
                               </div>
                           </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                               <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/IOT/microsoft-iot.jpg"><br /><br />
                                    <p>
                                        <u><strong>Microsoft-IOT</strong></u><br />
                                        Microsoft has used the iot to help business growth globally where
                                        all the infomortaion such as security tools, software and hardware equipment
                                        as well as data and its analysis are conented to produce a better result and analytics. 
                                        <a href="https://azure.microsoft.com/en-gb/solutions/iot/?site=mscom_iot#iot-approach">Learn More</a>
                                    </p>
                               </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px">
                               <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/IOT/amazon-iot.jpg"><br /><br />
                                    <u><strong>Amazon-IOT</strong></u><br />
                                    <p>
                                        AWS IOT helps accelerate inovatios with the most complete set of IoT services, Secure
                                        applications from the cloud to the edge. Building intellegent IoT solutions with superrior
                                        AI and ML integretion, scale earsily and reliably.
                                        <a href="https://aws.amazon.com/iot/?sc_channel=PS&sc_campaign=acquisition_AU&sc_publisher=google&sc_medium=iot_nb&sc_content=iot_e&sc_detail=iot&sc_category=iot&sc_segment=154387165862&sc_matchtype=e&sc_country=AU&s_kwcid=AL!4422!3!154387165862!e!!g!!iot&ef_id=WmksLwAAAHVHXlHa:20180805102347:s">Learn More</a>

                                    </p>
                               </div>
                           </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px">
                                <div>
                                    <img id="Emtec-img-border-shape" src="~/images/Emtech/IOT/csiro-iot.jpg"><br /><br<
                                    <p>
                                        <u><strong>CSIRO-IOT</strong></u><br />
                                        CSIRO is carrying out research into intelligent IoT system prototypes with integreted
                                        and customised cybersecuity to benefits small and medium-sized manufactures. This products
                                        can eb envisioned as a  modular starter kit for digitalisation. 
                                        <a href="https://www.csiro.au/en/work-with-us/industries/manufacturing/future-digital-manufacturing-fund/secure-intelligent-iot-for-digital-manufacturing">Learn More</a>
                                    </p>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
            <!--Card 3-->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-dark"  type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cognitive Computing</button>
                    </h2>
                </div>
                <!--Dislaying body of card 3-->
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAcc">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cognitive computing/IBM-cognitive-c.jpg"><br /><br />
                                    <p>
                                        <u><strong>IBM Cognitive Computing</strong></u><br />
                                        cognitive initiative come in all shapes and sizes, from transformational to tactical and everything
                                        in between, what the most successful projravt have in commons, no matter how ambitious, is they begin
                                        with a clear view of what the technolgy can do. Therefore, you first take is to gain a firm understanding
                                        of cognitive capabalities.
                                        <a href="https://www.ibm.com/consulting/artificial-intelligence">Learn More</a>

                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cognitive computing/google-computing.jpg"><br /><br />
                                    <p>
                                        <u><strong>Google cognitive Computing</strong></u><br />
                                        Google-cc is enebling a faster build to manage computer visioin and applicatios for unique business
                                        purposes with the pre-trained APIs, auto-ML and custom-models. These advance is enebling the computers
                                        vision the generated objects, some of these methods known as Vertex AI vision, custom ML models, and Vision API.
                                        <a href="https://cloud.google.com/vision/#section-1">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cognitive computing/fobes-cognitive.jpg"><br /><br />
                                    <p>
                                        <u><strong>Forbes-Cogtinitive</strong></u><br />
                                        Cognitive computing comes from a mashup of cognitve science - the study of the human brain and how it functions
                                        - and computer science, and the results will have far-reaching impactss on our privates lives, healthcare, businisess
                                        , and more.
                                        <a href="https://www.forbes.com/sites/bernardmarr/2016/03/23/what-everyone-should-know-about-cognitive-computing/?sh=249bff025088">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cognitive computing/microsoft-cognitive-c.jpg"><br /><br />
                                    <P>
                                        <u><strong>Microsft-Cognitive</strong></u><br />
                                        Cognotive services brings AI within reach of every developer and data scientist. With leading
                                        models, a variety of use cases can unlocked. All it takes an API call to emend the ability to see,
                                        hear, speak, search, understand, and accelerate advanced decision-making into your apps. see how to
                                        deploy AI soulitions for various use cases using the programing languanges you already know. 
                                        <a href="https://azure.microsoft.com/en-au/products/cognitive-services/">Learn More</a>
                                    </P>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Card 4-->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-dark collapsed"  type="button"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Cloud Computing</button>
                    </h2>
                </div>
                <!--Displaying the body of card 4-->
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-perent="myAcc">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cloud computing/ibm-cloud.jpg"><br /><br />
                                    <p>
                                        <u><strong>IBM-Cloud</strong></u><br />
                                        A full stack  cloud platform with over 170 products and services covering data, containers, AI,
                                        IoT, and blockchain. IBM also provides IBM cloud satelitte to cloud anywhere: on premises, multicloud
                                        and to the edge.
                                        <a href="https://www.ibm.com/cloud">Learn More</a>
                                    </p>
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cloud computing/microsoft-cloud.jpg"><br /><br />
                                    <p>
                                        <u><strong>Microsoft Cloud</strong></u><br />
                                        Microsoft Azure, often reffered to as Azure, is a cloud computing platform run by microsoft, which 
                                        offers access, management, and development of applications and services through global data centers.
                                        It provides range of capabilities, including software as a services (SaaS), platform as services(PaaS)
                                        , and manufatures as a services(IaaS).
                                        <a href="https://azure.microsoft.com/en-au/">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cloud computing/Google-cloud.jpg"><br /><br />
                                    <u><strong>Google-cloud</strong></u><br />
                                    <p>
                                        Google cloud offers a hots of partner-led solutions. built on google cloud, that meet the need of the IoT infractructure
                                        Using google cloud technologies, combined with partners, our costumers can customized specific IoT solutions to meet 
                                        their unique needs. our partner offers solutions that can support edge messaging services, devices menagement, analytics
                                        , and the ability to derive insight using the google cloud's industry leading AI/ML.
                                        <a href="https://cloud.google.com/iot-core">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Cloud computing/amazon-cloud.jpg"><br /><br />
                                    <p>
                                        <u><strong>Amazon-cloud</strong></u><br />
                                        Wheather you're looking for compute power, database storage, content delivery,, or other functionality, AWS
                                        has the services to help you built sophisticated applications with increased flexibility, scalability, and
                                        reliability.
                                        <a href="https://aws.amazon.com/">Learn More</a>
                                    </p>
                                    
                                </div>
                             </div> 
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 5-->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-dark collapsed"  type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Robotic</button>
                    </h2>
                </div>
                <!--Displaying the body of card 5-->
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-perent="myAcc">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Robotic/forbes-robotic.jpg"><br /><br />
                                    <p>
                                        <u><strong>Forbes-Robotics</strong></u><br />
                                        As manufactures around the world make strides to build out the vision of Industry 4.0, many - if not
                                        most -Will embrace advanced machines to accelarate the digitals tranformations of their operations. The presures
                                        remain: improvee productivity, meet consumers' expectations.
                                        <a href="https://www.forbes.com/sites/jimlawton/2018/03/20/the-role-of-robots-in-industry-4-0/?sh=4357e02a706b">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Robotic/zdnet-robotic.jpg"><br /><br />
                                    <p>
                                        <u><strong>Zdnet-Robotics</strong></u><br />
                                        It seems like there's more talk these days about Industry 4.0 -- or the fourth industrial
                                        revolution -- and robotics, along with other technologies that will play a role in this megatrend.
                                        Industry 4.0 involves the heavy use of automation and data exchange in manufacturing environments,
                                        encompassing areas such as cyber-physical systems, the Internet of Things (IoT) and cloud computing,
                                        among others.
                                        <a href="https://www.zdnet.com/article/robotics-and-industry-4-0/">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Robotic/Iscope-robotic.jpg"><br /><br />
                                    <p>
                                        <u><strong>I-Scoop Robots Cobots</strong></u><br />
                                        Despite the de facto main attention for IoT when people talk about ‘Industrie 4.0’, many other/related 
                                        technologies and realities take center stage in Industry 4.0 and Logistics 4.0. Among them: robotics.
                                        Obviously, they are already used a lot in manfacturing and logistics and transportation. 
                                        However, the market is about to accelerate as research and market evolutions show.
                                        <a href="https://www.i-scoop.eu/robots-cobots-logistics-4-0/">Learn More</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                <div>
                                    <img id="Emtec-img-border-shape" src="/images/Emtech/Robotic/automation-robotic.jpg"><br /><br />
                                    <p>
                                        <u><strong>Automation-Robotics</strong></u><br />
                                        Is your industrial Ethernet network prepared to handle several times the bandwidth previously asked of it?
                                        Before your next upgrade, find out what the impact might be on your network. The smart industrial facility is upon us.
                                        We’re already accustomed to having information about nearly anything at our fingertips. Industry 4.0 looks to extend 
                                        that immediacy and extract vital information from your sensors, equipment and plant floor.
                                        <a href="https://www.automationworld.com/products/networks/blog/13318624/industry-40-is-hereare-you-ready">Learn More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Card 6-->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-dark collapsed"  type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">BlockChain</button>
                    </h2>
                </div>
                <!--Displaying the body of card 6-->
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-perent="myAcc">
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                    <div>
                                        <img id="Emtec-img-border-shape" src="/images/Emtech/Blockchain/blockchain.jpg"><br /><br />
                                        <p>
                                            <u><strong>Blockchain</strong></u><br />
                                            Blockchain.com got its start as an early pioneer of key infrastructure for the bitcoin community. First, with a Blockchain Explorer that enabled anyone
                                            to not only examine transactions and study the blockchain, but an API that enabled companies to build on Bitcoin.
                                            We also have provided the most popular and widely used crypto wallet that enables anyone anywhere to control their own money.
                                            <a href="https://www.blockchain.com/">Learn More</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                    <div>
                                        <img id="Emtec-img-border-shape" src="/images/Emtech/Blockchain/Forbes-Blockchain.jpg"><br /><br />
                                        <p>
                                            <u><strong>Forbes-Blockchain</strong></u><br />
                                            Welcome to Industry 4.0, the new age where smart technology and smart appliances are moving us closer and closer to a fully digitized society. 
                                            Potentially valued at almost $4 trillion by 2020, studies show that businesses everywhere will be able to benefit by embracing the fourth industrial revolution.
                                            And, with the emergence of blockchain, we're already on the pathway there.
                                            <a href="https://www.forbes.com/sites/andrewrossow/2018/04/11/bringing-blockchain-into-industry-4-0/?sh=1beba4656dc7">Learn More</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                    <div>
                                        <img id="Emtec-img-border-shape" src="/images/Emtech/Blockchain/pcblockchain.jpg"><br /><br />
                                        <p>
                                            <u><strong>PC-blockchain</strong></u><br />
                                            Blockchain isn't a household buzzword, like the cloud or the Internet of Things. It's not an in-your-face innovation you can see and touch as easily as a smartphone or a package from Amazon. 
                                            But in a world where anyone can edit a Wikipedia entry, blockchain is the answer to a question we've been asking since the dawn of the internet age: How can we collectively trust what happens online?
                                            <a href="https://au.pcmag.com/enterprise/46389/blockchain-the-invisible-technology-thats-changing-the-world">Learn More</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top:15px;">
                                    <div>
                                        <img id="Emtec-img-border-shape" src="/images/Emtech/Blockchain/csiro-blockchain.jpg"><br /><br />
                                        <p>
                                            <u><strong>CSIRO-Blockchain</strong></u><br />
                                            A world-first report, Artificial Intelligence for Science has found the world is amid the largest boom in the application
                                            and development of AI for scientific research in history.A trusted leader in STEM education, our programs aim to inspire the pursuit of 
                                            further STEM education among students and the community, to equip the emerging workforce with tomorrow's skill sets, and to strengthen
                                            collaboration between industry and classrooms across Australia.
                                            <a href="https://www.csiro.au/en/education">Learn More</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    </section>
 </article>